{% extends "base.html" %}
{% load static %}

{% block title %}Profile | E-Shopper{% endblock %}
{% block content %}
{% comment %} <section id="form"><!--form--> {% endcomment %}
    <div class="container">
        <div class="row" style="margin-bottom: 50px">
            
            <div class="col-sm-4"  style="margin-left: 100px  ;  width:100%; "  > 
                <a class="btn btn-default add-to-cart" href="/edit">Edit profile</a>
                  
                <form method="" action="" enctype="multipart/form-data">
                    <div class="" style="margin-bottom: 20px; display:flex">
                        <div style="padding:20px; background:#fdb45e; width: 50%">
                            <img src="{{user.avatar.url}}" style="height: 300px;" />
                        </div>
                        <div style="margin: 100px">
                            <h5>Name  : {{user.name}}</h5>
                            <p>
                            <h5>Mail  : {{user.mail}}</h5>
                            <p>
                            <h5>Bio  : {{user.bio}}</h5>                     
                        </div>
                        
                    </div>
  
                    
                </form>  
                       
                
            </div>
        </div>
    </div>


{% endblock %}