{% extends "base.html" %}
{% load static %}

{% block title %}Edit Profile | E-Shopper{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 50px">
            <div class="col-sm-4" >
					
                    <div id="similar-product" class="carousel slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                            <div class="carousel-inner" >
                                
                                
                                <div class="item active carousel-item" >
                                    <img class="d-block w-100" style=" height: 300px" src="{{user.avatar.url}}" alt="">
                                </div>
                               
                        
                                
                            </div>

                          <!-- Controls -->
                         
                    </div>

            </div>
            <div class="col-sm-4"  style="margin-left: 50px  ;  width:700px; "  > 
                <div >
                <form method="POST" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% for field in form %}
                        <div class="form__group form__group" style="margin-bottom: 20px; padding:20px; background:#ffebcc">
                            <label style="width: 600px" for="room_name">{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %}
                    <input style="margin-left:250px" type="submit"value="submit">
                </form>  
                </div>       
                
            </div>
        </div>
    </div>


{% endblock %}